{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- nav -->
        <nav>
            <ul class="box-primary-nav">
                <li class="box-label">Menu</li>

                <li><a href="{% url 'index' %}">Intro</a><i class="ion-ios-circle-filled color"></i></li> 
                <li><a href="{% url 'about' %}">About me</a></li>
                <li><a href="{% url 'services' %}">services</a></li>
                <li><a href="{% url 'portfolio' %}">portfolio</a></li>
                <li><a href="{% url 'contact' %}">contact me</a></li>



                <li class="box-label">Follow me</li>

                <li class="box-social"><a href="https://www.facebook.com/M.T.Tasin.20/"><i class="ion-social-facebook"></i></a></li>
                <li class="box-social"><a href="https://www.instagram.com/m.t.tasin20/"><i class="ion-social-instagram"></i></a></li>
                <li class="box-social"><a href="https://twitter.com/MTTasin1"><i class="ion-social-twitter"></i></a></li>
                <li class="box-social"><a href="https://github.com/MTTasin"><i class="ion-social-github"></i></a></li>
            </ul>
        </nav>
        <!-- end nav -->

        <!-- box-intro -->
        <section class="box-intro">

            <div class="table-cell">
                <div class="container-fluid">
                    <div class="row">

                        <h1 class="box-headline letters rotate-2">
                            <span class="box-words-wrapper">
                                <b class="is-visible">Hello,</b>
                                <b>&nbsp;I'm &nbsp; Tasin</b>
                            </span>
                        </h1>
                        <h5>Creative & interactive web application developer</h5>

                    </div>

                </div>
            </div>
            <div class="mouse">
                <div class="scroll"></div>
            </div>
        </section>
        <!-- end box-intro -->
    </div>
    <div class="po">
        <h1>My Portfolio</h1>

    </div>

    <!-- portfolio div -->
    <div class="portfolio-div">
        <div class="portfolio">
            <div class="no-padding portfolio_container">
                <!-- single work -->
                {% for item in projects %}
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio_item">
                        <img src="{{ item.image.url }}" alt="{{ item.title }}" class="img-fluid" />
                        <div class="portfolio_item_hover">
                            <div class="portfolio-border clearfix">
                                <div class="item_info">
                                    <span>{{ item.title }}</span>
                                    <a href="{% url 'project_details' item.id %}"><em>Details</em></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- end single work -->
            </div>
            <!-- end portfolio_container -->
        </div>
        <!-- portfolio -->
    </div>
    <!-- end portfolio div -->
{% endblock %}